on: [push]

jobs:
  tag_code:
    runs-on: ubuntu-latest
    name: Tag code
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Hello world action step
        id: hello
        uses: ./
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}